
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Kaushan+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-image: url(nature\ \(2\).jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jersey 25" , sans-serif;
}

:root{
     --card:#4AA8FF;
     --black:#00000000;
     --white:#ffff;
}



/* styling main  */
main{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

/* after create style inside main  is section */
main section{
     background-color:#F0F8FF;
     padding: 1.8rem 10px;
     border-radius: 10px;   
     border-left: 4px solid  black;
     box-shadow: 0 0 10px #F0F8FF;
}

main form{
    margin-top: 20px;
}

main form input{
     padding: 0.5rem 40px;
     background-color: var(--card);
     border: 3px solid var(--white);
     outline: none;
     margin-left: 10px;
     font-weight: 700;
}

main form button{
     background-color: var(--card);
      padding: 0.5rem 40px;
      border: 3px solid var(--white);
      cursor: pointer;
}


/* style div namecity */
.name-city{
   text-align: center;
}

.name-city h2{
     font-family: 'Kaushan Script', cursive;
}

.name-city h2 #city{
      font-family: "Jersey 25" , sans-serif;
      font-weight: 500;
}


/* style dive weather temp */
.weather-temp {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     background-color: var(--card);
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     padding: 1rem  5rem;
     width: 250px;
}

.weather-temp h3{
      font-family: 'Kaushan Script', cursive;
      font-weight: 400;
}
.weather-temp h3 span{
       font-family: "Jersey 25" , sans-serif ;
}

#icon_weather{
      width: 130px;
}

.border-color{
     background-color:black;
     padding: 2px ; 
     width: 406px;
}




.description{
     text-align: center;
}

.description h2{
      font-family: 'Kaushan Script', cursive;
}
.description h2 span{
       font-family: "Jersey 25" , sans-serif;
       font-weight: 500;
}


.spe_hum{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.spe_hum div{
     border: 2px  solid var(--card);
     padding: 2% 40px;
     margin: 10px;
}


.Country_weather{
     background-color: var(--card);
     margin-top: 20px;
     text-align: center;
     padding: 0.1rem  5rem;
     /* width: 250px; */
}

.Country_weather h4 #country{
      font-weight: 500;
}